body
{
    background: linear-gradient(to right, beige, pink);
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}


#calculator
{
    display: grid;
    justify-content: center;
    align-content: space-around;  
    grid-template-rows: repeat(5, 1fr);
}

#calculator-grid > button 
{
    display: grid;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

#calculator-grid >button:hover
{
    background-color: rgba(255, 255, 255, .9);
}

#display
{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
}

#undo, #equals, #clear
{
    grid-column: span 2;
}

